* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    list-style: none;
}

html {
    scroll-behavior: smooth
}

main {
    width: 100%;
}
.main-container {
    max-width: 1440px;
    margin: 0 auto;
}
.header-container {
    background-image: url("./../travel/img/images/mountains-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 765px;
}
